#category {

    .soft-list {
        .card {
            margin-bottom: 20px;
        }
    }

    .popular-list {
        background-color: var(--gray-background);
    }

    .card-content {
        .content {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
