#hero {
    .bd-hero {
        --color: #7a7a7a;
        --color-strong: #363636;
        --icon-dimensions: 1.125em;
        --icon-spacing: 0.25em;
        background-color: var(--background-color);

        @media screen and (min-width: 1024px) {
            --icon-spacing: 0.5em;
        }

        &.bd-is-success {
            --background-color: var(--success-light);
            --color-strong: var(--success-dark);
            --color: var(--success);
            --color-icon: var(--success);
        }

        &.bd-is-link {
            --background-color: var(--link-light);
            --color-strong: var(--link-dark);
            --color-icon: var(--link);
        }

        &.bd-is-office {
            --background-color: var(--office-light);
            --color-strong: var(--office-dark);
            --color: var(--office);
            --color-icon: var(--office);
        }

        &.bd-is-game {
            --background-color: var(--game-light);
            --color-strong: var(--game);
            --color-icon: var(--game);
        }

        &.bd-is-tech {
            --background-color: var(--tech-light);
            --color-strong: var(--tech-dark);
            --color-icon: var(--tech);
        }

        .bd-hero-heading {
            .title {
                color: var(--color-strong);
                display: flex;
                font-weight: 400;
                position: relative;

                .icon {
                    color: var(--color-icon);
                    height: var(--icon-dimensions);
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-right: var(--icon-spacing);
                    width: var(--icon-dimensions);

                    @media screen and (min-width: 1024px) {
                        margin-left: calc(-1 * (var(--icon-dimensions) + var(--icon-spacing)));
                        margin-right: var(--icon-spacing);
                    }
                }
            }

            .subtitle {
                color: var(--color);
            }
        }
    }

    .bd-hero-body {
        align-items: center;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .bd-hero-carbon {
        @media screen and (min-width: 672px) {
            justify-self: flex-end;
        }
    }
}
