#postDetail {
    .section {
        position: relative;
    }

    $radius-rounded: 290486px !default;

    .button {
        &.is-rounded {
            border-radius: $radius-rounded;
            padding-left: 1em;
            padding-right: 1em;
            box-shadow: 5px 5px 15px gray;
        }

        &.download {
            position: fixed;
            bottom: 20px;
            left: 20px;
        }

        &.comment {
            position: fixed;
            bottom: 80px;
            left: 20px;
        }
    }

    .image img {
        width: auto;
    }
}
