#side {
    height: 100%;

    .facebook {
        margin-bottom: 5rem;
    }

    .side-popular-list {
        margin-bottom: 5rem;
    }

    .side-newest-list {
        margin-bottom: 5rem;
        top: 10px;
        position: sticky;
    }

    .ads-component-side {
        top: 10px;
        background-color: gray;
        height: 500px;
        position: sticky;
    }
}
