#side {
    .tag-list {
        .tag {
            cursor: pointer;
        }
    }

    .ads-component-side {
        background-color: gray;
        height: 500px;
        position: sticky;
    }
}
