#slider {
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    .bd-best {
        padding: 1.5rem 0;
        overflow: hidden;
        position: relative;
    }

    .bd-best-list {
        top: 1.5rem;
        height: 100%;
    }

    .bd-best-item {
        overflow: hidden;
        cursor: pointer;

        .bd-is-medium {
            font-size: 1.125em;
        }

        .bd-is-large {
            font-size: 1.25em;
        }

        .bd-is-huge {
            font-size: 1.5em;
        }

        .card-image {
            img {
                height: 100%;
                width: 100%;
                position: relative;
                margin: auto;
                vertical-align: middle;
            }
        }

        .card-content {
            .media {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .content {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .card {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
}
